[user]
	name = Max Rozentsveyg
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[branch]
	autosetupmerge = always
[core]
	mergeoptions = --no-ff
	mergeoptions = --no-edit
[rerere]
	enabled = true
[alias]
	accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	cleanup = "!git remote prune origin && git gc && git stash clear"
	rbr = "!git branch | grep -v master | xargs git branch -D"
	rename-tag = "!sh -c 'set -e;git tag $2 $1; git tag -d $1;git push origin :refs/tags/$1;git push --tags' -"
	up = "!git pull --no-edit origin $(git branch-name)"
